body{
    background-color: white;
}

/*Inicio de Barra de navegacion*/
.menu{
    background-color: black;
    display: flex;
    justify-content: end;
    text-align: center;
    box-shadow: 0px 10px 5px -5px #a5a5a1;
    align-items:center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    list-style: none;
    position: fixed;
    width: 100%;
    height: 80px;
    overflow: hidden;
    top: -20px;
    
    }
.menu-item{
    
    padding: 20px 20px 20px 20px; /*Separacion entre cada palabra, recordar que contacto esta separado y tiene su propio paddin*/
    color: #f0c2c6;
}
.menu-item:hover{
    color: white;
}

.menu-contacto{  /*Separe el boton de contacto para poder trabajarlo por separado*/
    margin: 0px 100px 0px 10px;
    padding: 9px 20px 7px 20px; /* se ajusta con el paddin d las otras palabras*/
    border-radius: 20px;
    background-color: #e68992;
    }
    .menu-contacto:hover{
        background-color: #cfbcbc;
        color: white;
    }
    
    /*Fin de barra de navegacion*/
    
    /*Section presentacion*/

    .presentacion{
        
        /*border: 1px solid red;*/
        display: flex;
        justify-content: center;
        width: 100%;
        height: 700px;
        
    }
    .presentacion-texto{
        width: 500px;
        /*border: 1px solid black;*/
        
    }
    .presentacion-texto h1{
        font-size: 50px;
        font-family: 'Mukta', sans-serif;
        margin-top: 300px;
    }
    .presentacion-texto h2{
        font-size: 60px;
        color: #ff6584;
        font-family: 'Anton', sans-serif;
        text-shadow: 2px 2px 1px black;
        font-weight: 900;
        margin-top: -50px;
    }
    .presentacion-texto button{
        border-radius: 20px;
        background-color: #e68992;
        padding: 10px 40px 8px 40px;
        font-weight: 800;
        margin-top: 50px;
        margin-left: 20px;
        font-size: 18px;
        
    }
    .presentacion-texto button:hover{
            background-color: #cfbcbc;
            color: white;
    }
    
    .presentacion-imagen{
        /*border: 1px solid black;*/
        margin-top: 100px;
        }
       
/*Fin Section presentacion*/

/*--------------Mis conocimientos--------------------*/
.mis-conocimientos{
    
    height: 500px;
    display: flex;
    /*border: 1px solid black;*/
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8e5e9;
    width: 100%;

}
.conocimientos-texto{
    /*border: 1px solid black;
    background-color: white;*/
    width: 1300px;
    height: 200px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: -180px;
    
}
.conocimientos-texto h1{
    font-size: 45px;
    
}
.conocimientos-texto p{
    width: 600px;
    margin-left: 350px;
    margin-top: -40px;
}

/*------propiedades de los contenedores de cada imagen-------*/
.conocimientos-imagenes{
    
    height: 200px;
    display: flex;
    align-items: center;
    
}

.conocimientos-imagenes p{
    text-align: center;
    
}

/*----propiedades de cada imagen-----*/
.conocimientos-imagen{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 70px;
    
}

.conocimientos-imagen:hover{
    border: 3px solid #ff6584;
    color: #ff6584;
}



/*------------- FIN de Mis conocimientos--------------------*/





/*-------------------Cita---------------------------------------------------*/

.cita{
    border: 1px solid black;
    display: flex;
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; /*me alineo el contenido de adentro*/
    
    
    
}
.cita-imagen{
    
    border: 1px solid black;
    width: 170px;
    height: 150px;
    

}
.cita-texto{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
    text-align: center;
}

/*---------------Proyecto------------*/
.proyecto{
    border: 1px solid black;
    width: 1000px;
    height: 1000px;
    margin-left: 160px;
}
.proyecto-texto{
    border: 1px solid black;
    width: 600px;
    height: 200px;

}
.proyecto1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.proyecto2{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.proyecto3{
    border: 1px solid black;
    width: 100px;
    height: 100px; 
}
.proyecto4{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

/*Contactame*/

.cuadrado-contactame{
    width: 1000px;
    display: flex;
    margin-left: 160px;
    
}
/*contactame texto- titulo*/
.contactame{
    border: 1px solid black;
    width: 500px;
    
    
}
/*contactame texto- parrafo*/
.contactame-1{
    font-size: 3em;
    text-align: center;
    line-height: 0.1em;
    
}
.contactame-cuadrado-links{
    
    width: 190px;
    margin-left: 60px;
    line-height: 50px;
    font-size: 18px;
    
    
}
.contactame-cuadrado-imagenes-links{
    
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 190px;
    margin-top: -210px;
    margin-left: 50px;
    

}





.formulario-escribime{
    border: 1px solid black;
    width: 500px;

}
.escribime-titulo{
    font-size: 3em;
    text-align: center;
}

/*FOOTHER */
.footer{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    
}
.footer-hola{
    border: 1px solid black;  

}
.footer-contacto{
    border: 1px solid black;
}