body{
    background-color: #ebebea;
}

/*Inicio de Barra de navegacion*/
.menu{
    background-color: #ebebea;
    display: flex;
    height: 75px;
    justify-content: end;
    text-align: center;
    box-shadow: 0px 10px 5px -5px #a5a5a1;
    align-items:center;
    margin-top: -2px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    list-style: none;
    }
.menu-item{
    
    padding: 20px 20px 20px 20px; /*Separacion entre cada palabra, recordar de contacto esta separado y tiene su propio paddin*/
  
}
.menu-item:hover{
    color: white;
}

.menu-contacto{  /*Separe el boton de contacto para poder trabajarlo por separado*/
    margin: 0px 100px 0px 10px;
    padding: 9px 20px 7px 20px; /* se ajusta con el paddin d las otras palabras*/
    border-radius: 20px;
    background-color: #e68992;
    }
    .menu-contacto:hover{
        background-color: #cfbcbc;
        color: white;
    }
    
    /*Fin de barra de navegacion*/
    
    /*Section presentacion*/

    .presentacion{
        
       /* border: 1px solid red;*/
        display: flex;
        justify-content: center;
        margin-top: 200px;
        height: 600px;
    }
    .presentacion-texto{
        width: 300px;
        height: 300px;
        /*border: 1px solid black;*/
    }
    
    
    
    .presentacion-imagen{
        /*border: 1px solid black;*/
        }
       
/*Fin Section presentacion*/

/*Mis conocimientos*/
.mis-conocimientos{
    
    height: 700px;
    display: flex;
    /*border: 1px solid black;*/
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background-color: rgb(175, 175, 175);

}
.conocimientos{
    /*border: 1px solid black;*/
    background-color: white;
    width: 1300px;
    height: 300px;
    align-content: center;
    margin-top: 20px;
    
}
.html{
    /*border: 1px solid black;*/
    background-color: white;
    width: 200px;
    margin: 10px 20px 10px 250px;
    
    
}
.css{
    /*border: 1px solid black;*/
    background-color: white;
    width: 200px;
    margin: 10px 20px 10px 20px;
}   
.sass{
    /*border: 1px solid black;*/
    background-color: white;
    width: 200px;
    margin: 10px 250px 10px 20px;
} 
.java{
    /*border: 1px solid black;*/
    background-color: white;
    width: 200px;
    margin: 10px 20px 10px 20px;
}
.react{
    /*border: 1px solid black;*/
    background-color: white;
    width: 200px;
    margin: 10px 20px 10px 20px;
}
.git{
    /*border: 1px solid black;*/
    background-color: white;
    width: 200px;
    margin: 10px 20px 10px 20px;
}

/*Cita*/

.cita{
    border: 1px solid black;
    display: flex;
    height: 500px;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center; /*me alineo el contenido de adentro*/
    margin-left: 160px;
    
    
}
.cita-imagen{
    
    border: 1px solid black;
    width: 200px;
    margin: 10px;

}
.cita-texto{
    border: 1px solid black;
    width: 900px;
    margin: 10px;
}

/*Proyecto*/
.proyecto{
    border: 1px solid black;
    width: 1000px;
    height: 1000px;
    margin-left: 160px;
}
.proyecto-texto{
    border: 1px solid black;
    width: 600px;
    height: 200px;

}
.proyecto1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.proyecto2{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.proyecto3{
    border: 1px solid black;
    width: 100px;
    height: 100px; 
}
.proyecto4{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

/*Contactame*/

.formulario{
    width: 1000px;
    display: flex;
    margin-left: 160px;
    
}

.contactame{
    border: 1px solid black;
    width: 500px;
}

.escribime{
    border: 1px solid black;
    width: 500px;

}

.footer{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    
}
.footer-hola{
    border: 1px solid black;  

}
.footer-contacto{
    border: 1px solid black;
}