
@media(max-width:1100px){
    /*----------MENU Y HEADER------------*/
    body{
        
        padding: 0;
        margin: 0;
    }
    header{
        display: none;
    }
    
    
        
    /*------------------PRESENTACION--------------------------------*/

    .presentacion{
            
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 400px;
            
    }

    .presentacion-texto{
        
        /*border: 1px solid black;*/
        margin: 150px 0px;
        text-align: center;
        width: 100%;
        padding-bottom: 50px;
          
    }

    .presentacion-texto h1{
        font-size: 35px;
        margin-top: 0px;
    }
        
    .presentacion-texto h2{
        font-size: 65px;
        color: #ff6584;
        margin-left: 10px;
        margin-top: -20px;
        
    }
    .presentacion-texto p{
        margin-left: 20px;
        font-size: 25px;
        margin-top: -50px;
        
    }

    .presentacion-imagen{
        /*border: 1px solid black;*/
        margin-top: -150px;
        width: 100% auto;
        
        
    }
    .presentacion-imagen img{
        /*border: 1px solid black;*/
        width: 70%;
        height: 50%;
        margin-left: 18%;
    }
        
    /*Fin Section presentacion*/

 /*-------------------------------MIS CONOCIMIENTOS-----------------------------------------*/
    
    
    .conocimientos-imagenes{
        /*border: 1px solid black;*/
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 3.12em;
        margin-bottom: 6.25em;
        padding: 0px 100px;
        
       
    }
    .conocimientos-imagen{
        background-color: white;
    }

    /*----------------------------------------PROYECTO-----------------------------------------*/

    .proyecto1{
        border: 0.06em solid rgb(44, 44, 44);
        margin: 30px 15px;
        padding-bottom: 80px;
        height: 150px;
        width: 250px;
        border-radius: 10px;
        
       
    }
    .proyecto1 img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .proyecto-imagenes{
        /*border: 1px solid blue;*/
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        padding: 0px;
        width: 100%;
        
    }

    /*-------------------FORMULARIO---------------------------*/

    .formulario-completo{
        /*border: 1px solid black;*/
        justify-content: center;
        display: flex;
        width: 100%;
        background-color: #fae1e3;
        padding: 100px 0px 100px 0px;
    
    }
    
    .cuadrado-contactame{
        border: 0.06em solid #ff6584;
        border-radius: 20px;
        width: 90%;
        display: flex;
        font-family: 'Varela Round', sans-serif;
        background-color: white;
        padding-bottom: 100px;
        
    }
    
    .contactame-caja{
       /* border: 1px solid blue;*/
        width: 50%;
       
    }
    

    /*contactame texto- parrafo*/
    .contactame-caja h1{
        /*border: 1px solid black;*/
        font-size: 3em;
        margin-left: 1em;
        
    }
    .contactame-caja p{
        /*border: 1px solid black;*/
        line-height: 30px;
        margin-left: 3.12em;
        font-size: 18px;
    }
    .contactame-cuadrado-links{
       
        /*border: 1px solid black;*/
        width: 80%;
        margin-left: 1.25em;
        line-height: 3.43em;
        font-size: 16px;

    }
    .contactame-cuadrado-links li:active{
        padding: 0.06em -1.25em 0.06em -1.25em;
        border: 0.06em solid #ff6584;
        border-radius: 1.25em;
    }
    
    .icono{
        padding: 0.5em;
        color: #ff6584;
        font-size: 25px;
    
    }
    
    .items-contacto a{
        text-decoration: none;
        color: black;
    }
   
   
    
    
    .formulario-escribime{
        /*border: 1px solid yellow;*/
        width: 50%;
        
    
    }
    .escribime-titulo{
        /*border: 1px solid black;*/
        font-size: 3em;
        
    }
    .formulario{
        /*border: 1px solid green;*/
        display: flex;
        flex-wrap: wrap;
    }
    #apellido{
        /*border: 1px solid black;*/
        margin-left: 6%;
    }
    input{
        /*border: 1px solid black;*/
        border-radius: 3.12em;
        padding: 0.62em;
        border: 0.06em solid #fae1e3;
        background-color: #fae1e3;
        width: 90%;
    }
    textarea{
        /*border: 1px solid black;*/
        border-radius: 1.25em;
        background-color: #fae1e3;
        max-width: 100%;
        width: 90%;
        max-height: 12.5em;
    }
    button{
        /*border: 1px solid black;*/
        padding: 0.6em 2.5em 0.6em 2.5em; /* se ajusta con el paddin d las otras palabras*/
        border-radius: 25px;
        background-color: #e68992;
        font-size: 20px;
    }
    

  /*-------------------FOOTHER------------------ */

    .footer{
        /*border: 0.06em solid red;*/
        display: flex;
        flex-wrap: wrap;
        
  
    }
    .footer-caja{
        display: flex;
        /*border: 0.06em solid blue;*/
        flex-wrap: wrap;
        justify-content: center;
        padding: 5em;
        font-family: 'Archivo Narrow', sans-serif;
        color: #ff6584;
        width: 100%;
        
    }
    .footer-caja a{
        text-decoration: none;
        color: #ff6584;
    }
   
    .footer-hola{
        
        margin-left: 1.25em;
        
    }

    .footer-contacto-caja{
        width: 100%;
        /*border: 1px solid green;*/
        justify-content: center;
        margin-top: -5%;
    }



    .footer-contacto{
    
        /*border: 1px solid purple;*/
        width: 94%;
        height: 62%;
        display: flex;
        justify-content: center;
    
    }

    .hecho{
        /*border: 1px solid blue;*/
        width: 100%;
    }

    .hecho p{
        text-align: center; 
        color: white;
        margin-bottom: 100px;
        width: 100%;
    }

    .items-contacto{
        border: 1px solid black;
        border-radius: 100px;
        margin-left: 10px;

    }



}



@media(max-width:900px){
    /*-------------------------------MIS CONOCIMIENTOS-----------------------------------------*/
    .conocimientos-imagenes{
        /*border: 1px solid black;*/
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 3.12em;
        margin-bottom: 6.25em;
        padding: 0px 100px;
        
    
    }
    /*----------------------------------------PROYECTOS-----------------------------------------*/
    .proyecto1{
        border: 0.06em solid rgb(44, 44, 44);
        margin: 30px 15px;
        padding-bottom: 80px;
        height: 250px;
        width: 350px;
        border-radius: 10px;
    }

    .proyecto-imagenes{
        /*border: 1px solid blue;*/
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        padding: 0px;
        width: 100%;
        
        
    }
    
    
    /*-------------------FORMULARIO---------------------------*/

    .formulario-completo{
        /*border: 1px solid black;*/
        justify-content: center;
        display: flex;
        width: 100%;
        background-color: white;
        padding: 100px 0px 100px 0px;
    
    }
    
    .cuadrado-contactame{
        /*border: 0.06em solid #ff6584;*/
        border-radius: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        font-family: 'Varela Round', sans-serif;
        background-color: white;
        padding-bottom: 100px;
        border: none;
        
    }
    
    .contactame-caja{
        /*border: 1px solid blue;*/
        width: 100%;
       
    }
    
    
    
    /*contactame texto- parrafo*/
    .contactame-caja h1{
        /*border: 1px solid black;*/
        font-size: 3em;
        margin-left: 1em;
        
    }
    .contactame-caja p{
        /*border: 1px solid black;*/
        line-height: 25px;
        margin-left: 3.12em;
        font-size: 18px;
    }
    .contactame-cuadrado-links{
       
        /*border: 1px solid black;*/
        width: 80%;
        margin-left: 1.25em;
        line-height: 3.43em;
        font-size: 16px;
        padding-top: 10px;
    
        
    }
    .contactame-cuadrado-links ul{
        /*border: 1px solid black;*/
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        
    }
   

    #twiter{
        width: 40%;
    }
    #mail{
        width: 40%;
    }
    #git{
        width: 40%;
    }
    #linkedin{
        width: 40%;
    }
        
    
    .icono{
        padding: 0.5em;
        color: #ff6584;
        font-size: 25px;
    
    }

    

    
    .formulario-escribime{
        /*border: 1px solid yellow;*/
        width: 100%;
        
    }
    .escribime-titulo{
        /*border: 1px solid black;*/
        font-size: 3em;
        margin-left: 50px;
    
    }
    .formulario{
        /*border: 1px solid green;*/
        display: flex;
        flex-wrap: wrap;
        margin-left: 3%;
    }
    #apellido{
        /*border: 1px solid black;*/
        margin-left: 47px;
        width: 43%;
    }
    #nombre{
        width: 43%;
    }
    input{
        /*border: 1px solid black;*/
        border-radius: 3.12em;
        padding: 4%;
        border: 0.06em solid #fae1e3;
        background-color: #fae1e3;
        width: 100%;
    }
    #email{
        padding: 1.7%;
    }
    textarea{
        /*border: 1px solid black;*/
        border-radius: 1.25em;
        background-color: #fae1e3;
        max-width: 100%;
        width: 100%;
        max-height: 12.5em;
    }
    button{
        /*border: 1px solid black;*/
        padding: 10px 30px; /* se ajusta con el paddin d las otras palabras*/
        border-radius: 25px;
        background-color: #e68992;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 20px;
        
    }
    

    /*------------FOOTER-----------------*/

    .footer-contacto-caja{
        width: 95%;
        /*border: 1px solid green;*/
        justify-content: center;
        margin-top: -5%;
    }
    
     
}



@media(max-width:700px){
     /*------------------PRESENTACION--------------------------------*/
    .presentacion{
            
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 300px;
            
    }
    .presentacion-imagen img{
        /*border: 1px solid black;*/
        width: 80%;
        height: 80%;
        margin-left: 10%;
        
    }
    .presentacion-texto button{
        margin-left: 0%;
    }

     /*----------------------------------------PROYECTO-----------------------------------------*/
     .proyecto1{
        border: 0.06em solid rgb(44, 44, 44);
        margin: 30px 15px;
        padding-bottom: 80px;
        height: 150px;
        width: 250px;
        border-radius: 10px;
    }

     .proyecto-imagenes{
        /*border: 1px solid blue;*/
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        padding: 0px;
        width: 100%;
        
    }

    /*---------------FORMULARIO--------------------*/

    .formulario-completo{
        /*border: 1px solid black;*/
        justify-content: center;
        display: flex;
        width: 100%;
        background-color: white;
        padding: 100px 0px 100px 0px;
    
    }
    
    .cuadrado-contactame{
        /*border: 0.06em solid #ff6584;*/
        border-radius: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        font-family: 'Varela Round', sans-serif;
        background-color: white;
        padding-bottom: 100px;
        border: none;
        margin-left: -5%;
        
    }
    
    .contactame-caja{
        /*border: 1px solid blue;*/
        width: 100%;
       
    }
    

    /*contactame texto- parrafo*/
    .contactame-caja h1{
        /*border: 1px solid black;*/
        font-size: 3em;
        margin-left: 3%;
        
    }
    .contactame-caja p{
        /*border: 1px solid black;*/
        line-height: 25px;
        margin-left: 3%;
        font-size: 18px;
    }
    .contactame-cuadrado-links{
       
        /*border: 1px solid black;*/
        width: 100%;
        margin-left: 0;
        font-size: 16px;
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .contactame-cuadrado-links ul{
        /*border: 1px solid blue;*/
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .items-contacto-formulario{
        /*border: 1px solid red;*/
        width: 20%;
    }
   

    #twiter{
        width: 40%;
    }
    #mail{
        width: 40%;
    }
    #git{
        width: 40%;
    }
    #linkedin{
        width: 40%;
    }
        
  
    .items-contacto:hover .icono{
        background-color: black;
        color: #f0c2c6;
        border-radius: 3em;   
    }
    .formulario-escribime{
        /*border: 1px solid yellow;*/
        width: 100%;
        margin-left: 0;
    }
    .escribime-titulo{
        /*border: 1px solid black;*/
        font-size: 3em;
        margin-left: 3%;
    }
    .formulario{
        /*border: 1px solid green;*/
        display: flex;
        flex-wrap: wrap;
        margin-left: 3%;
    }
    #apellido{
        /*border: 1px solid black;*/
        margin-left: 55px;

    }
    input{
        /*border: 1px solid black;*/
        border-radius: 3.12em;
        padding: 4%;
        border: 0.06em solid #fae1e3;
        background-color: #fae1e3;
        width: 100%;
    }
    #email{
        padding: 1.8%;
        width: 95%;
    }
    textarea{
        /*border: 1px solid black;*/
        border-radius: 1.25em;
        background-color: #fae1e3;
        max-width: 100%;
        width: 100%;
        max-height: 12.5em;
    }
    button{
        /*border: 1px solid black;*/
        padding: 10px 30px; /* se ajusta con el paddin d las otras palabras*/
        border-radius: 25px;
        background-color: #e68992;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 20px;
        
    }
    button:hover{
        background-color: #cfbcbc;
    }


    /*-------------------FOOTHER------------------ */
    .footer{
        /*border: 0.06em solid red;*/
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
    }
    .footer-caja{
        display: flex;
        /*border: 0.06em solid blue;*/
        flex-wrap: wrap;
        justify-content: center;
        padding: 5em;
        font-family: 'Archivo Narrow', sans-serif;
        color: #ff6584;
        width: 100%;
        display: none;
            
    }
   
    .footer-hola{
        border: 0.06em solid black;
        margin-left: 1.25em;
        display: none;
    }
    
    .footer-contacto-caja{
        width: 100%;
        /*border: 1px solid green;*/
        justify-content: center;
        
    }
    .footer-contacto{
        
        /*border: 1px solid purple;*/
        width: 88%;
        height: 62%;
        display: flex;
        justify-content: center;   
    }
    .hecho{
        /*border: 1px solid blue;*/
        width: 100%;   
    }
    .hecho p{
        text-align: center; 
        color: white;
        margin-bottom: 100px;
        width: 100%;
    }
    .items-contacto{
        border: 1px solid black;
        border-radius: 100px;
        margin-left: 10px;
    }
    .footer-contacto .items-contacto:hover{
        border: 0.06em solid white;
        color: white;
    }


}


@media(max-width:650px){
    /*-------------------------------MIS CONOCIMIENTOS-----------------------------------------*/
    .conocimientos-imagenes{
        /*border: 1px solid black;*/
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 3.12em;
        margin-bottom: 6.25em;
        padding: 0px 100px;
    }

    /*-------FORMULARIO-------------*/
    #linkedin{
        width: 45%;
       
    }
    /*--------footer-----------------*/
    .footer-contacto{
        
        /*border: 1px solid purple;*/
        width: 85%;
        height: 62%;
        display: flex;
        justify-content: center;
        
    }


}

@media(max-width:580px){
    /*-------------------------------MIS CONOCIMIENTOS-----------------------------------------*/
    .conocimientos-imagenes{
        /*border: 1px solid black;*/
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 6.25em;
        padding: 0;
        
    }
    .conocimientos-imagen{
        width: 70px;
        height: 70px;
        border: 0.18em solid #fac9d3;
        margin: 20px;
        padding: 30px 80px 70px 80px;
        border-radius: 10px;
        background-color: white;
        
    }
     /*-----------FORMULARIO-------------*/
     #linkedin{
        width: 50%;
       
    }

     /*-------------FOOTER-----------------*/
     .footer-contacto{
        
        /*border: 1px solid purple;*/
        width: 85%;
        height: 60%;
        display: flex;
        justify-content: center;
        
    }


}



@media(max-width:550px){
    /*------------------PRESENTACION--------------------------------*/
   .presentacion-texto h1{
       font-size: 25px;
       margin-top: 0px;
   }
       
   .presentacion-texto h2{
       font-size: 55px;
       color: #ff6584;
       margin-left: 10px;
       margin-top: -20px;
       
   }
   .presentacion-texto p{
       margin-left: 20px;
       font-size: 20px;
       margin-top: -50px;
       
   }
   .presentacion-imagen img{
       /*border: 1px solid black;*/
       width: 90%;
       height: 90%;
       margin-left: 5%;
       
   }

    /*----------------------------------------PROYECTO-----------------------------------------*/

    .proyecto-imagenes{
       /*border: 1px solid blue;*/
       display: flex;
       flex-wrap: wrap;
       height: 100%;
       justify-content: center;
       padding: 0px;
       width: 100%;
       
   }


}


@media(max-width:500px){

    /*-------------------FORMULARIO---------------------------*/
    
    .formulario-completo{
        /*border: 1px solid black;*/
        justify-content: center;
        display: flex;
        width: 90%;
        background-color: white;
        padding: 100px 0px 100px 0px;
    
    }
    .cuadrado-contactame{
        /*border: 0.06em solid #ff6584;*/
        border-radius: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        font-family: 'Varela Round', sans-serif;
        background-color: white;
        padding-bottom: 100px;
        border: none;
        
    }
    .contactame-caja{
        /*border: 1px solid blue;*/
        width: 100%;
       
    }
    /*contactame texto- parrafo*/
    .contactame-caja h1{
        /*border: 1px solid black;*/
        font-size: 3em;
        margin-left: 0%;
    }
    .contactame-caja p{
        /*border: 1px solid black;*/
        line-height: 25px;
        margin-left: 0%;
        font-size: 18px;
    }
    .contactame-cuadrado-links{
       
        /*border: 1px solid black;*/
        width: 80%;
        margin-left: 1.25em;
        line-height: 3.43em;
        font-size: 18px;
        padding-top: 10px;
    }
    .contactame-cuadrado-links ul{
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -12%;
    }
    
    #twiter{
        width: 100%;
    }
    #mail{
        width: 100%;
    }
    #git{
        width: 100%;
    }
    #linkedin{
        width: 100%;
    }


    /*-----------------------------FORMULARIO ESCRIBIME---------------------------------*/
    
    .formulario-escribime{
        /*border: 1px solid yellow;*/
        width: 100%;
    }
    .escribime-titulo{
        /*border: 1px solid black;*/
        font-size: 3em;
        margin-left: 0%;
    }
    .formulario{
        /*border: 1px solid green;*/
        display: flex;
        flex-wrap: wrap;
        margin-left: 0%;
    }
    #apellido{
        /*border: 1px solid black;*/
        margin-left: 10%;
    }
    input{
        /*border: 1px solid black;*/
        border-radius: 3.12em;
        padding: 4%;
        border: 0.06em solid #fae1e3;
        background-color: #fae1e3;
        width: 100%;
    }
    #email{
        padding: 2%;
    }
    textarea{
        /*border: 1px solid black;*/
        border-radius: 1.25em;
        background-color: #fae1e3;
        max-width: 100%;
        width: 100%;
        max-height: 12.5em;
    }
    button{
        /*border: 1px solid black;*/
        padding: 10px 30px; /* se ajusta con el paddin d las otras palabras*/
        border-radius: 25px;
        background-color: #e68992;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 20px;
        
    }
    button:hover{
        background-color: #cfbcbc;
    }
    


}








@media(max-width:450px){
    /*------------------PRESENTACION--------------------------------*/
    .presentacion-texto button{
        border-radius: 1.25em;
        background-color: #e68992;
        padding: 0.62em 2.5em 0.5em 2.5em;
        font-weight: 800;
        margin-top: 15px;
        margin-left: 15px;
        font-size: 14px;
        margin-bottom: 70px;
            
    }
    .presentacion-imagen img{
        /*border: 1px solid black;*/
        margin-left: 7%;
    }



    /*-------------------------------MIS CONOCIMIENTOS-----------------------------------------*/
    .conocimientos-imagenes{
        /*border: 1px solid black;*/
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 6.25em;
        padding-top: 30px;
        
    }
    .conocimientos-imagen{
        width: 50px;
        height: 50px;
        border: 0.18em solid #fac9d3;
        margin: 10px;
        padding: 20px 70px 60px 70px;
        border-radius: 10px;
        background-color: white;
        
    }

    /*----------------------FOOTER-----------------------*/
    .footer-contacto{
        
        /*border: 1px solid purple;*/
        width: 75%;
        height: 60%;
        display: flex;
        justify-content: center;
       
    }


}

@media(max-width:350px){

    #linkedin{
        width: 300px;
    }

}
    