body{
    background-color: white;
}

/*Inicio de Barra de navegacion*/
.menu{
    background-color: black;
    display: flex;
    justify-content: end;
    text-align: center;
    box-shadow: 0px 10px 5px -5px #a5a5a1;
    align-items:center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    list-style: none;
    position: fixed;
    width: 100%;
    height: 80px;
    overflow: hidden;
    top: -20px;
    
    }
.menu-item{
    
    padding: 20px 20px 20px 20px; /*Separacion entre cada palabra, recordar que contacto esta separado y tiene su propio paddin*/
    color: #f0c2c6;
}
.menu-item:hover{
    color: white;
}

.menu-contacto{  /*Separe el boton de contacto para poder trabajarlo por separado*/
    margin: 0px 100px 0px 10px;
    padding: 9px 20px 7px 20px; /* se ajusta con el paddin d las otras palabras*/
    border-radius: 20px;
    background-color: #e68992;
    }
    .menu-contacto:hover{
        background-color: #cfbcbc;
        color: white;
    }
    
    /*Fin de barra de navegacion*/
    
    /*Section presentacion*/

    .presentacion{
        
        /*border: 1px solid red;*/
        display: flex;
        justify-content: center;
        width: 100%;
        height: 700px;
        
    }
    .presentacion-texto{
        width: 500px;
        /*border: 1px solid black;*/
        
    }
    .presentacion-texto h1{
        font-size: 50px;
        font-family: 'Mukta', sans-serif;
        margin-top: 300px;
    }
    .presentacion-texto h2{
        font-size: 60px;
        color: #ff6584;
        font-family: 'Anton', sans-serif;
        text-shadow: 2px 2px 1px black;
        font-weight: 900;
        margin-top: -50px;
    }
    .presentacion-texto button{
        border-radius: 20px;
        background-color: #e68992;
        padding: 10px 40px 8px 40px;
        font-weight: 800;
        margin-top: 50px;
        margin-left: 20px;
        font-size: 18px;
        
    }
    .presentacion-texto button:hover{
            background-color: #cfbcbc;
            color: white;
            
    }
    
    .presentacion-imagen{
        /*border: 1px solid black;*/
        margin-top: 100px;
        }
       
/*Fin Section presentacion*/

/*--------------Mis conocimientos--------------------*/
.mis-conocimientos{
    
    height: 600px;
    display: flex;
    /*border: 1px solid black;*/
    flex-wrap: wrap;
    justify-content: center;
    background-color: #faeff1;
    width: 100%;

}
.conocimientos-texto{
    /*border: 1px solid black;
    background-color: white;*/
    width: 1300px;
    height: 200px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: -180px;
    
}
.conocimientos-texto h1{
    font-size: 45px;
    
}
.conocimientos-texto p{
    width: 600px;
    margin-left: 350px;
    margin-top: -40px;
}

/*------propiedades de los contenedores de cada imagen-------*/
.conocimientos-imagenes{
    
    height: 400px;
    display: flex;
    align-items: center;
    width: 600px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.conocimientos-imagenes p{
    text-align: center;
    
}

/*----propiedades de cada imagen-----*/
.conocimientos-imagen{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 70px;
    
}

.conocimientos-imagen:hover{
    border: 3px solid #ff6584;
    color: #ff6584;
}



/*------------- FIN de Mis conocimientos--------------------*/





/*-------------------Cita---------------------------------------------------*/

.cita{
    /*border: 1px solid black;*/
    display: flex;
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; /*me alineo el contenido de adentro*/
    background-color: rgb(219, 217, 217);
}
.cita-imagen{
    /*border: 1px solid black;*/
    
    
    
}
.cita-texto{
    /*border: 1px solid black;*/
    width: 100%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    margin-top: -100px;
}






/*---------------Proyecto------------*/
.proyecto{
    /*border: 1px solid black;*/
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    
}
.proyecto-texto{
    /*border: 1px solid black;*/
    width: 100%;
    height: 200px;

}
.proyecto-texto h1{
    font-size: 45px;
    text-align: center;
    width: 100%;
}
.proyecto-texto p{
    text-align: center;
}
.proyecto-imagenes{
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}
.proyecto-imagenes p{
    text-align: center;
}

.proyecto1{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin-left: 70px;
}
.proyecto1:hover{
    border: 1px solid #ff6584;
    padding: 0px;
    color: #ff6584;
}

/*-------------------Contactame---------------------------*/

.cuadrado-contactame{
    border: 1px solid #f0c2c6;
    border-radius: 20px;
    width: 1000px;
    display: flex;
    margin-left: 180px;
    margin-top: 400px;
    margin-bottom: 200px;
    padding: 50px 20px 50px 20px;
    
}
/*contactame texto- titulo*/
.contactame{
    
    width: 500px;
    
    
}
/*contactame texto- parrafo*/
.contactame h1{
    font-size: 3em;
    margin-left: 50px;
    
}
.contactame p{
    line-height: 0.2em;
    margin-left: 50px;
}
.contactame-cuadrado-links{
   /* border: 1px solid black; */
    width: 100%;
    margin-left: 20px;
    line-height: 55px;
    font-size: 16px;

    
}

.icono{
    padding: 10px;
    color: #ff6584;

}

.items-contacto:hover{
    color: #ff6584;
}

.items-contacto:hover .icono{
    background-color: black;
    color: #f0c2c6;
    border-radius: 50px;
    
    

}






.formulario-escribime{
   /* border: 1px solid black;*/
    width: 500px;

}
.escribime-titulo{
    font-size: 3em;
    
}
.formulario{
    display: flex;
    flex-wrap: wrap;
}
#apellido{
    margin-left: 20px;
}
input{
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #fae1e3;
    background-color: #fae1e3;
}
textarea{
    border-radius: 20px;
    background-color: #fae1e3;
}
button{
    
    padding: 12px 40px 12px 40px; /* se ajusta con el paddin d las otras palabras*/
    border-radius: 25px;
    background-color: #e68992;
    font-size: 20px;
}
button:hover{
    background-color: #cfbcbc;
}

/*-------------------FOOTHER------------------ */
.footer{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    
}
.footer-hola{
    border: 1px solid black;  

}
.footer-contacto{
    border: 1px solid black;
}