 /*-------------------PRESENTACION------------------------*/
 .presentacion{
    border: 1px solid red;
    display: block;       
    padding-bottom: 100px;
    margin-bottom: 300px;
    width: 100%;

    
    
}
.presentacion-texto{
    border: 1px solid black;
    padding-bottom: 100px;
    margin-top: -600px;
    margin-left: 80px;
    padding-right: 10px;
    
}
.presentacion-texto h1{
    font-size: 40px;
    font-family: 'Mukta', sans-serif;
    text-align: center;
}
.presentacion-texto h2{
    font-size: 70px;
    color: #ff6584;
    font-family: 'Anton', sans-serif;
    text-shadow: 10px 10px 10px black;
    text-align: center;
    
}
.presentacion-texto p{
    text-align: center;
    
}
.presentacion-texto button{
    border-radius: 2em;
    background-color: #e68992;
    font-size: 12px;
    margin-left: 330px;
    
    
}
.presentacion-imagen{
    border: 1px solid black;
    width: 70%;
    height: 70%;
    margin-top: 50px;
    margin-left: 100px;

}
/*---------------conocimientos-----------*/

.mis-conocimientos{


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #faeff1;
    width: 100%;
    margin-bottom: 12.5em;
   

}

.conocimientos-texto h1{
    font-size: 45px;
    margin-top: 3em;
    text-align: center;
    
}
.conocimientos-texto p{
    width: 50%;
    margin-left: 21.87em;
    text-align: center;
    
    
}

/*------propiedades de los contenedores de cada imagen-------*/
.conocimientos-imagenes{
    
    height: 25em;
    display: flex;
    align-items: center;
    width: 37.5em;
    flex-wrap: wrap;
    margin-top: 3.12em;
    margin-bottom: 6.25em;
    margin-left: -3.25em;
}

.conocimientos-imagenes p{
    text-align: center;
    
    
}

/*----propiedades de cada imagen-----*/
.conocimientos-imagen{
    width: 6.25em;
    height: 6.25em;
    border-radius: 3.12em;
    margin-left: 5.62em;
    
}

.conocimientos-imagen:hover{
    border: 0.18em solid #ff6584;
    color: #ff6584;
}


/*------------cita----------------*/
.cita{
    border: 1px solid black;
    /*border: 1px solid black;*/
    display: flex;
    margin-top: -12.5em;
    width: 100%;
    
    
}
.cita-imagen{
    /*border: 1px solid black;*/
    margin-top: -6.25em;
    margin-left: 200px;
    
}




/*---------------Proyecto------------*/
.proyecto{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    
}
.proyecto-texto{
    /*border: 1px solid black;*/
    width: 100%;
    height: 12.5em;

}
.proyecto-texto h1{
    font-size: 45px;
    text-align: center;
    width: 100%;
    margin-top: 2em;
}
.proyecto-texto p{
    text-align: center;
}
.proyecto-imagenes{
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    
    
    
    
}
.proyecto-imagenes p{
    text-align: center;

}

.proyecto1{
    border: 3px solid black;
    margin: 10px;
   
    
}
.proyecto1:hover{
    border: 0.06em solid #ff6584;
    padding: 0em;
    color: #ff6584;
}


/*-------------------Contactame---------------------------*/

.cuadrado-contactame{
    border: 0.06em solid black;
    border-radius: 20px;
    display: flex;
    margin-top: 37.5em;
    margin-bottom: 12.5em;
    margin-left: 5px;
    padding: 1.87em;
    padding-right: 10px;
    width: 900px;
    
}


/*contactame texto- parrafo*/
.contactame-caja h1{
    font-size: 3em;
    margin-left: 1px;
    
}
.contactame-caja p{
    line-height: 20px;
    margin-left: 1px;
}
.contactame-cuadrado-links{
    border: 1px solid black;
    width: 100%;
    margin-left: -40px;
    line-height: 3.43em;
    font-size: 16px;
    

    
}


.icono{
    padding: 6px;
    color: #ff6584;
    font-size: 25px;
    

}







.formulario-escribime{
    border: 1px solid black;
    margin-left: 1px;
    padding-left: 50px;
    padding-right: 50px;
}
.escribime-titulo{
    font-size: 3em;
    
}


input{
    max-width: 200px;
}
textarea{
    max-width: 600px;
    max-height: 12.5em;
}
button{
    padding: 0.6em 2.5em 0.6em 2.5em; /* se ajusta con el paddin d las otras palabras*/
    border-radius: 25px;
    background-color: #e68992;
    font-size: 20px;
    margin-top: 50px;
}

/*-------------------FOOTHER------------------ */
.footer{
border: 5px solid red;
width: 100%;
background-color: black; /*NO TIENE WIDTH, SE LO BORRE XQ ME DABA UN MARGEN*/
}


.footer-caja{
display: flex;
border: 0.06em solid black;
flex-wrap: wrap;
justify-content: center;


}

.footer-hola{
    font-size: 20px;
    
}


.footer-contacto-caja{

margin-bottom: 6.25em;
margin-top: -4.37em;
border: 1px solid white;
}

.footer-contacto li{

float: left;
padding: 0.6;
}

.footer-contacto .items-contacto:hover{
border: 0.06em solid #ff6584;
border-radius: 3.12em;
padding: 0.31em;
}



}





@media(max-width:900px){
/*-------------------PRESENTACION------------------------*/
.presentacion{
    display: block;
    margin-bottom: -9.37em;
    padding-top: 41em;
    margin-left: -60px;
}
.presentacion-texto{
    width: 100%;
    /* border: 1px solid black;*/
    margin-top: -30em;
}
.presentacion-texto h1{
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    margin-bottom: -1em;
    text-align: center;
}
.presentacion-texto h2{
    font-size: 3.25em;
    color: #ff6584;
    font-family: 'Anton', sans-serif;
    text-shadow: 0.12em 0.12em 0.06em black;
    text-align: center;
    margin-top: 40px;
}
.presentacion-texto p{
    text-align: center;
     margin-top: 20px;
}
.presentacion-texto button{
    border-radius: 2em;
    background-color: #e68992;
    padding: 0.9em 2.5em 0.9em 2.5em;
    margin-top: 70px;
    margin-left: 30em;
     font-size: 12px;
      
}
.presentacion-imagen{
    /*border: 1px solid black;*/
    margin-top: -24em;
    margin-left: 250px;
    height: 70%;

}
/*---------------conocimientos-----------*/

.mis-conocimientos{
    display: flex;
    flex-wrap: wrap;
    background-color: #faeff1;
    margin-top: 300px;
    margin-left: -20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 200px;
       
}

.conocimientos-texto h1{
    font-size: 45px;
     margin-top: 3em;
}
.conocimientos-texto p{
    font-size: 20px;
    margin-left: 220px;
}
.conocimientos-imagenes{
    border: 1px solid black;
    margin: 0px 200px 0px 200px;
}
.conocimientos-imagen{
       margin-bottom: 100px;
    }

/*------------cita----------------*/
.cita{
    /*border: 1px solid black;*/
    display: flex;
    margin-top: -12.5em;
    margin-left: -20px;
    padding-left: 100px;
}
.cita-imagen{
    /*border: 1px solid black;*/
    margin-top: -6.25em;
    margin-left: 50px;
}
.cita-texto{
    /*border: 1px solid black;*/
    margin-left: -110px;
}



/*---------------Proyecto------------*/
.proyecto{
    /*border: 1px solid black;*/
    margin-left: -10px;
}

.proyecto-texto h1{
    font-size: 50px;
    margin-left: 40px;
    
}
.proyecto-texto p{
    font-size: 20px;
    margin-left: 90px;
}


/*-------------------Contactame---------------------------*/

.cuadrado-contactame{
    margin: 0%;
    display: block;
    /*border: 1px solid black;*/
    padding-right: -1200px;
    margin-top: 300px;
    width: 800px;
    padding-bottom: 200px;
    border: none;
}

.contactame-caja{
    /* border: 1px solid black;*/
     margin: 0%;
}


/*contactame texto- parrafo*/
.contactame h1{
    font-size: 3em;
    margin-left: 1em;
    
}
.contactame p{
    font-size: 20px;
}
.contactame-cuadrado-links{
    font-size: 20px;
    
}



.formulario-escribime{
    /* border: 1px solid black;*/
    margin-left: 1px;
    padding-left: 50px;
    padding-right: 250px;
}
.escribime-titulo{
    font-size: 3em;
    
}


input{
    max-width: 200px;
}
textarea{
    max-width: 600px;
    max-height: 12.5em;
}
button{
    padding: 0.6em 2.5em 0.6em 2.5em; /* se ajusta con el paddin d las otras palabras*/
    border-radius: 25px;
    background-color: #e68992;
    font-size: 20px;
    margin-top: 50px;
}

/*-------------------FOOTHER------------------ */
.footer{
    border: 0.06em solid black;
    background-color: black; /*NO TIENE WIDTH, SE LO BORRE XQ ME DABA UN MARGEN*/
    width: 100%;
    padding-left: 78px;

    
    }
.footer-caja{
    display: flex;
    border: 0.06em solid black;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -150px;
    
}

.footer-hola{
    font-size: 20px;
    
}


.footer-contacto-caja{
   
   margin-bottom: 6.25em;
   margin-top: -4.37em;
   margin-left: 200px;
   border: 1px solid white;
   
}

.footer-contacto li{
    
    float: left;
    padding: 0.6;
    
    
}

.footer-contacto .items-contacto:hover{
    border: 0.06em solid #ff6584;
    border-radius: 3.12em;
    padding: 0.31em;
}
.hecho p{
    margin-left: -140px;
}








}   
/*------------------FIN 900-----------------*/ 



/*----------COMIENZO 700PX-----------------*/
@media(max-width:700px){

.presentacion{
    display: block;
    margin-bottom: -9.37em;
    padding-top: 41em;
    margin-left: -60px;
}
.presentacion-texto{
    width: 100%;
    /* border: 1px solid black;*/
    margin-top: -30em;
}
.presentacion-texto h1{
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    margin-bottom: -1em;
    text-align: center;
}
.presentacion-texto h2{
    font-size: 3.25em;
    color: #ff6584;
    font-family: 'Anton', sans-serif;
    text-shadow: 0.12em 0.12em 0.06em black;
    text-align: center;
    margin-top: 40px;
}
.presentacion-texto p{
    text-align: center;
    margin-top: 20px;
}
.presentacion-texto button{
    border-radius: 2em;
    background-color: #e68992;
    padding: 0.9em 2.5em 0.9em 2.5em;
    margin-top: 70px;
    margin-left: 230px;
    font-size: 18px;
}
.presentacion-imagen{
    /*border: 1px solid black;*/
    margin-top: -24em;
    margin-left: 250px;
    height: 70%;
}
/*---------------conocimientos-----------*/

.mis-conocimientos{
    display: flex;
    flex-wrap: wrap;
    background-color: #faeff1;
    margin-top: 300px;
    margin-left: -20px;
    padding-right: 50px;
    padding-left: 130px;
    padding-bottom: 200px;         
}
   
.conocimientos-texto h1{
    font-size: 45px;
    margin-top: 3em;   
}
.conocimientos-texto p{
    font-size: 20px;
    margin-left: 150px;
}

.conocimientos-imagenes{
    border: 1px solid black;
    margin: 0px 100px 0px 100px;
    padding-bottom: 100px;
}
/*------------cita----------------*/
.cita{
    /*border: 1px solid black;*/
    display: flex;
    margin-top: -12.5em;
    margin-left: -20px;
    padding-left: 178px;
}
.cita-imagen{
    /*border: 1px solid black;*/
    margin-top: -6.25em;
    margin-left: 40px;
}

.cita-texto{
    /*border: 1px solid black;*/
    margin-left: -110px;
}
/*-------------proyecto-------------*/
.proyecto{
    /*border: 1px solid black;*/
    margin-left: 50px;
}
  
.proyecto-texto h1{
    font-size: 50px;
    margin-left: 40px;
       
}
.proyecto-texto p{
    font-size: 20px;
    margin-left: 90px;
}
/*----------footer----------------*/
.footer{
    border: 0.06em solid black;
    background-color: black; /*NO TIENE WIDTH, SE LO BORRE XQ ME DABA UN MARGEN*/
    width: 100%;
    padding-left: 158px;
}
       
.footer-hola{
    border: 1px solid white;
    display: none;
}
        
        
.footer-contacto-caja{
           
    margin-bottom: 6.25em;
    margin-top: -100px;
    margin-left: 100px;
    border: 1px solid white;
}

        
.footer-contacto li{
    float: left;
    padding: 0.6;     
}
        
.footer-contacto .items-contacto:hover{
    border: 0.06em solid #ff6584;
    border-radius: 3.12em;
    padding: 0.31em;
}
.hecho p{
    margin-left: -140px;
}
    



}


/*--------------Fin 700px------------------*/

@media(max-width:600px){
    .presentacion{
        display: block;
        margin-bottom: -9.37em;
        padding-top: 41em;
        margin-left: 180px;
    }
    .presentacion-texto{
        width: 100%;
        /* border: 1px solid black;*/
        margin-top: -30em;
    }
    .presentacion-texto h1{
        font-size: 200px;
    }
    .presentacion-texto h2{
        font-size: 100px;
        color: #ff6584;
        font-family: 'Anton', sans-serif;
        text-shadow: 0.12em 0.12em 0.06em black;
        text-align: center;
        margin-top: 40px;
    }
    .presentacion-texto p{
        text-align: center;
        margin-top: 20px;
    }
    .presentacion-texto button{
        border-radius: 2em;
        background-color: #e68992;
        padding: 0.9em 2.5em 0.9em 2.5em;
        margin-top: 70px;
        margin-left: 230px;
        font-size: 18px;
          
    }
    .presentacion-imagen{
        border: 1px solid black;
        margin-top: -24em;
        height: 70%;
        width: 750px;
  
    }
     /*---------------conocimientos-----------*/

     .mis-conocimientos{
        display: flex;
        flex-wrap: wrap;
        background-color: #faeff1;
        margin-top: 300px;
        padding-right: 150px;
        padding-bottom: 200px;
    }

    .conocimientos-texto h1{
        font-size: 60px;
        margin-top: 10px;
    
    }
    .conocimientos-texto p{
        font-size: 20px;
        margin-left: 150px;
    }

    .conocimientos-imagenes{
        border: 1px solid black;
        margin: 0px 100px 0px 100px;
        padding-bottom: 100px;

    }
    
    /*------------cita----------------*/
    .cita{
    /*border: 1px solid black;*/
    display: flex;
    margin-top: -12.5em;
    margin-left: -20px;
    padding-left: 280px;
    }
    .cita-imagen{
    /*border: 1px solid black;*/
    margin-top: -6.25em;
    margin-left: 40px;
    }

    .cita-texto{
    /*border: 1px solid black;*/
    margin-left: -110px;
    }
    /*-------------proyecto-------------*/
    .proyecto{
        /*border: 1px solid black;*/
       margin-left: 90px;
    }

   .proyecto-texto h1{
       font-size: 50px;
       margin-left: 40px;
   
    }
   .proyecto-texto p{
       font-size: 20px;
       margin-left: 90px;
    }
    /*----------footer----------------*/
    .footer{
        border: 0.06em solid black;
        background-color: black; /*NO TIENE WIDTH, SE LO BORRE XQ ME DABA UN MARGEN*/
        width: 100%;
        padding-left: 158px;
    }
   
    .footer-hola{
        border: 1px solid white;
        display: none;
    }
    
    
    .footer-contacto-caja{
       
       margin-bottom: 6.25em;
       margin-top: -100px;
       margin-left: 50px;
       border: 1px solid white;
       
    }
    
    
    .footer-contacto li{
        float: left;
        padding: 0.6;
        
    }
    
    .footer-contacto .items-contacto:hover{
        border: 0.06em solid #ff6584;
        border-radius: 3.12em;
        padding: 0.31em;
    }
    .hecho p{
        margin-left: -140px;
    }




}

@media(max-width:550px){ /* cambia la fila de mis proyectos, se vuelve una columna*/
.presentacion{
    display: block;
    margin-bottom: -9.37em;
    padding-top: 41em;
    margin-left: 180px;
}
.presentacion-texto{
    width: 100%;
    /* border: 1px solid black;*/
    margin-top: -30em;
}
.presentacion-texto h1{
    font-size: 200px;
}
.presentacion-texto h2{
    font-size: 100px;
    color: #ff6584;
    font-family: 'Anton', sans-serif;
    text-shadow: 0.12em 0.12em 0.06em black;
    text-align: center;
    margin-top: 40px;
}
.presentacion-texto p{
    text-align: center;
    margin-top: 20px;
}
.presentacion-texto button{
    border-radius: 2em;
    background-color: #e68992;
    padding: 0.9em 2.5em 0.9em 2.5em;
    margin-top: 70px;
    margin-left: 230px;
    font-size: 18px;
      
}
.presentacion-imagen{
    border: 1px solid black;
    margin-top: -24em;
    height: 70%;
    width: 750px;

}
 /*---------------conocimientos-----------*/

 .mis-conocimientos{
    display: flex;
    flex-wrap: wrap;
    background-color: #faeff1;
    margin-top: 300px;
    padding-right: 150px;
    padding-bottom: 200px;
}

.conocimientos-texto h1{
    font-size: 60px;
    margin-top: 10px;

}
.conocimientos-texto p{
    font-size: 20px;
    margin-left: 150px;
}

.conocimientos-imagenes{
    border: 1px solid black;
    margin: 0px 100px 0px 100px;
    padding-bottom: 100px;

}

/*------------cita----------------*/
.cita{
/*border: 1px solid black;*/
display: flex;
margin-top: -12.5em;
margin-left: -20px;
padding-left: 280px;
}
.cita-imagen{
/*border: 1px solid black;*/
margin-top: -6.25em;
margin-left: 40px;
}

.cita-texto{
/*border: 1px solid black;*/
margin-left: -110px;
}
/*-------------proyecto-------------*/
.proyecto{
    /*border: 1px solid black;*/
   margin-left: 90px;
}

.proyecto-texto h1{
   font-size: 50px;
   margin-left: 40px;

}
.proyecto-texto p{
   font-size: 20px;
   margin-left: 90px;
}
/*----------footer----------------*/
.footer{
    border: 0.06em solid black;
    background-color: black; /*NO TIENE WIDTH, SE LO BORRE XQ ME DABA UN MARGEN*/
    width: 100%;
    padding-left: 158px;
}

.footer-hola{
    border: 1px solid white;
    display: none;
}


.footer-contacto-caja{
   
   margin-bottom: 6.25em;
   margin-top: -100px;
   margin-left: 50px;
   border: 1px solid white;
   
}


.footer-contacto li{
    float: left;
    padding: 0.6;
    
}

.footer-contacto .items-contacto:hover{
    border: 0.06em solid #ff6584;
    border-radius: 3.12em;
    padding: 0.31em;
}
.hecho p{
    margin-left: -140px;
}

}
@media(max-width:350px){
.presentacion{
    display: block;
    margin-bottom: -9.37em;
    padding-top: 41em;
    margin-left: 180px;
}
.presentacion-texto{
    width: 100%;
    /* border: 1px solid black;*/
    margin-top: -30em;
}
.presentacion-texto h1{
    font-size: 200px;
}
.presentacion-texto h2{
    font-size: 100px;
    color: #ff6584;
    font-family: 'Anton', sans-serif;
    text-shadow: 0.12em 0.12em 0.06em black;
    text-align: center;
    margin-top: 40px;
}
.presentacion-texto p{
    text-align: center;
    margin-top: 20px;
}
.presentacion-texto button{
    border-radius: 2em;
    background-color: #e68992;
    padding: 0.9em 2.5em 0.9em 2.5em;
    margin-top: 70px;
    margin-left: 230px;
    font-size: 18px;
      
}
.presentacion-imagen{
    border: 1px solid black;
    margin-top: -24em;
    height: 70%;
    width: 750px;

}
 /*---------------conocimientos-----------*/

 .mis-conocimientos{
    display: flex;
    flex-wrap: wrap;
    background-color: #faeff1;
    margin-top: 300px;
    padding-right: 150px;
    padding-bottom: 200px;
}

.conocimientos-texto h1{
    font-size: 60px;
    margin-top: 10px;

}
.conocimientos-texto p{
    font-size: 20px;
    margin-left: 150px;
}

.conocimientos-imagenes{
    border: 1px solid black;
    margin: 0px 100px 0px 100px;
    padding-bottom: 100px;

}

/*------------cita----------------*/
.cita{
    /*border: 1px solid black;*/
    display: flex;
    margin-top: -12.5em;
    margin-left: -20px;
    padding-left: 280px;
}
.cita-imagen{
    /*border: 1px solid black;*/
    margin-top: -6.25em;
    margin-left: 40px;
}

.cita-texto{
    /*border: 1px solid black;*/
    margin-left: -110px;
}
/*-------------proyecto-------------*/
.proyecto{
    /*border: 1px solid black;*/
   margin-left: 90px;
}

.proyecto-texto h1{
   font-size: 50px;
   margin-left: 40px;

}
.proyecto-texto p{
   font-size: 20px;
   margin-left: 90px;
}
/*----------footer----------------*/
.footer{
    border: 0.06em solid black;
    background-color: black; /*NO TIENE WIDTH, SE LO BORRE XQ ME DABA UN MARGEN*/
    width: 100%;
    padding-left: 158px;
}

.footer-hola{
    border: 1px solid white;
    display: none;
}


.footer-contacto-caja{
   
   margin-bottom: 6.25em;
   margin-top: -100px;
   margin-left: 50px;
   border: 1px solid white;
   
}

.footer-contacto li{
    float: left;
    padding: 0.6;
    
}

.footer-contacto .items-contacto:hover{
    border: 0.06em solid #ff6584;
    border-radius: 3.12em;
    padding: 0.31em;
}
.hecho p{
    margin-left: -140px;
}







}





































































@media(max-width:690px){
body{
    margin: 0%;
    padding: 80px -90px 0;
    width: 100%;
}
.presentacion{
    
  /*  border: 1px solid red;*/
    display: block;
    justify-content: center;
    margin-bottom: -9.37em;
    padding-top: 41em;
    min-height: calc(100vh - 90px);
    margin-top: 90px;
    
}
.presentacion-texto{
    width: 50%;
   /* border: 1px solid black;*/
    margin-top: -40em;
}
.presentacion-texto h1{
    font-size: 2.5em;
    font-family: 'Mukta', sans-serif;
    margin-bottom: -1em;
    text-align: center;
}
.presentacion-texto h2{
    font-size: 3.25em;
    color: #ff6584;
    font-family: 'Anton', sans-serif;
    text-shadow: 0.12em 0.12em 0.06em black;
    text-align: center;
}
.presentacion-texto p{
    text-align: center;
}
.presentacion-texto button{
    border-radius: 1.25em;
    background-color: #e68992;
    padding: 0.62em 2.5em 0.5em 2.5em;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 3.12em;
    font-size: 18px;
    
}
.presentacion-texto button:hover{
    background-color: #cfbcbc;
    color: white;
        
}
.presentacion-texto button a{
    text-decoration: none;
    color: black;
} 

.presentacion-imagen{
    /*border: 1px solid black;*/
    margin-top: -24em;
    margin-left: -100px;

}

}








